body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

#backgroundContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

#quote-box {
  border: 5px solid rgba(0, 0, 0, 0.5);
  color: white;
  background: rgb(0, 0, 0);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  border-radius: 12px;
  text-align: center;
  padding: 25px;
  margin: 6% auto 0 auto;
  width: 60%;
}

.quoteNAuthor {
  height: 100px;
}

#author {
  font-style: italic;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  padding: 9px 15px;
  border-radius: 25px;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin-bottom: 17px;
}

button:hover {
  background-color: #428aff;
  color: white;
}

footer {
  height: 50px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 22px;
  color: white;
  background: rgb(0, 0, 0);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.6);
}

footer p {
  font-size: 15px;
}

footer a {
  text-decoration: underline;
}