:root {
  --blue: #1d9bf0;
  --see-thru-black: #00000099;
}

.white-text {
  color: white;
}

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  height: 115vh;
}

#wrapper {
  position: relative;
  height: 100%;
  border: 1px solid black;
}

#backgroundContainer {
  position: absolute;
  width: 100%;
  height: 115vh;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

#quote-box {
  border: 5px solid rgba(0, 0, 0, 0.5);
  background-color: var(--see-thru-black);
  z-index: 10;
  border-radius: 12px;
  text-align: center;
  padding: 0px 25px 25px;
  margin: 8% auto 0 auto;
  width: 60%;
}

.animText {
  height: auto;
}

#author {
  font-style: italic;
}

#credits{
  margin-top: 20px;
  font-size: 13px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  padding: 9px 15px;
  border-radius: 25px;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin-bottom: 17px;
   background-color: white;
}

button:hover {
  background-color: var(--blue);
  color: white;
}

button:active {
  transform: scale(0.95);
}

.fa-twitter{
  transition: 0.3s;
}

#tweet-quote:hover + .fa-twitter { color: var(--blue); }

footer {
  font-size: 13px;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 22px;
  background-color: var(--see-thru-black);
}

.footerItem:not(:first-child) {
    border-left: 1px solid white;
  }
  
   table {
    margin: 18px auto -10px;
  }
  
   td {
    color: var(--white-color);
    padding-left: 10px;
    padding-right: 10px;
  }


@media screen and (min-width: 576px) {
  #quote-box {
    padding: 25px;
  }

  footer {
    font-size: 15px;
  }
}